@{
    ViewBag.Title = "Home Page";
}

<h2>Pradinis puslapis</h2>


<div class="panel panel-default">
    <div class="panel-body">
        <h3>Apmokėjimų valdymas</h3>
        <br>
        @Html.ActionLink("Sąskaitų administravimo langas", "BillManagement", "BillManagement")
        <br>
        @Html.ActionLink("Sąskaitų apmokėjimo langas", "BillPaymentList", "BillPayment")
        <br>
        @Html.ActionLink("Sąskaitų valdymo langas", "BillControl", "BillControl")
    </div>

    <div class="panel-body">
        <h3>Siuntėjų valdymas</h3>
        <br>
        @Html.ActionLink("Kontrakto sukūrimas", "CreateContract", "ContractManagement")
        <br>
        @Html.ActionLink("Kontraktų sąrašas", "ContractList", "ContractManagement")
        <br>
        @Html.ActionLink("Siuntėjų stebėjimo langas(admin)", "", "")
        <br>
        @Html.ActionLink("Siuntėjų peržiūra", "", "")
    </div>

    <div class="panel-body">
        <h3>Užsakymų valdymas</h3>
        <br>
        @Html.ActionLink("Užsakymų sąrašas", "OrdersList", "OrderManagement")
    </div>

    <div class="panel-body">
        <h3>Administracinių tikslų valdymas</h3>
        <br>
        @Html.ActionLink("Darbuotojų atostogų grafiko langas", "VacationCalendar", "VacationCalendar")
        <br>
        @Html.ActionLink("Klientų rezervacijų įvairiems klausimams langas", "ClientReservation", "ClientReservation")
        <br>
        @Html.ActionLink("Team Building pasiūlymų peržiūros langas", "TeamBuildingOffers", "TeamBuildingOffers")
    </div>

    <div class="panel-body">
        <h3>Darbuotojų sistema</h3>
        <br>
        @Html.ActionLink("Darbuotų langas", "Workers", "Workers")
        <br>
        @Html.ActionLink("Grafiko langas", "Schedule", "Schedule")
        <br>
        @Html.ActionLink("Maršrutų langas", "Routes", "Routes")
    </div>
</div>