@model IEnumerable<Onmiva.Models.Bill>
@{
    ViewBag.Title = "BillPaymentList";
}

<h2>Sąskaitų apmokėjimo langas</h2>

<br>
@Html.ActionLink("Atgal", "Index", "Home")

<ul class="list-group">

    @foreach (var item in Model)
    {
    <li class="list-group-item">
        Sąskaita nr. @item.NumberId @item.Date
        @if (item.State == "neapmoketa")
        {
        <a href="@Url.Action("BillPaymentForm", "BillPayment", new { billId = item.NumberId })">Apmokėti sąskaitą</a>
        }
        else
        {
            @item.State
        }
    </li>
    }

</ul>