@model IEnumerable<Onmiva.Models.Bill>
@{
    ViewBag.Title = "BillPaymentList";
}

<h2>Sąskaitų apmokėjimo langas</h2>

<br>
@Html.ActionLink("Atgal", "Index", "Home")


<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Nr</th>
            <th scope="col">Data</th>
            <th scope="col">Veiksmai</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th scope="row">@item.NumberId</th>
                <td>@item.Date</td>
                <td>
                    @if (item.State == "neapmoketa")
                    {
                        <a href="@Url.Action("BillPaymentForm", "BillPayment", new { billId = item.NumberId })">Apmokėti sąskaitą</a>
                    }
                    else
                    {
                        @item.State
                    }
                </td>
            </tr>

        }

    </tbody>
</table>
