@using Onmiva.Models;
@{
    ViewBag.Title = "Kontraktų sąrašas";
}


<h2>Kontraktų sąrašas</h2>

<br>
@Html.ActionLink("Atgal", "Index", "Home")
<html>
<head>
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap.min.css">
</head>
<body>
    <table class="table table-striped">
        <thead>
        <th>Pasirašymo data</th>
        <th>Pabaigos data</th>
        <th>Siuntėjas</th>
        @if (@User.Identity.Name == "admin@gmail.com")
        {
            <th>Veiksmai</th>
}
        </thead>


        @foreach (var i in Model)
        {
            List<Sender> siuntejai = new List<Sender>();
            siuntejai = ViewBag.siuntejai;
            Sender siuntejas = siuntejai.Find(item => item.SenderId == i.siuntejas);
            <tr>
                <td>@i.pasirasymo_data</td>
                <td>@i.pabaigos_data</td>
                <td>@siuntejas.pavadinimas</td>
                @if (@User.Identity.Name == "admin@gmail.com")
                {
                    <td>@Html.ActionLink("Redaguoti", "UpdateContract", new { id = @i.ContractId }) @Html.ActionLink("Pratęsti", "UpdateContractDate", new { id = @i.ContractId })</td>
                }
            </tr>
        }
    </table>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>

</html>  