<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Onmiva</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Onmiva", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">

                @if (!User.Identity.IsAuthenticated)
                {
                    <ul class="nav navbar-nav">
                        <li> @Html.ActionLink("Prisijungti", "Login", "UserManagement")</li>
                    </ul>
                    <ul class="nav navbar-nav">
                        <li> @Html.ActionLink("Registruotis", "Register", "UserManagement")</li>
                    </ul>
                }
                else
                {
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Pradinis", "Index", "Home")</li>
                    </ul>
                    if (new Onmiva.Controllers.UserManagementController().GetUserRole(User.Identity.Name) == "Admin")
                    {
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Administratoriaus sąsaja", "RolesControl", "UserManagement")</li>
                    </ul>
                    }
                    <ul class="nav navbar-nav">
                        <li> @Html.ActionLink("Atsijungti", "Logout", new { controller = "UserManagement" })</li>
                    </ul>

                    <span class="navbar-text">
                        <p style="color:white">Prisijungęs kaip @User.Identity.Name</p>
                    </span>

                }


            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Onmiva</p>
        </footer>
    </div>



    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js" integrity="sha512-uto9mlQzrs59VwILcLiRYeLKPPbS/bT71da/OEBYEwcdNUk8jYIy+D176RYoop1Da+f9mvkYrmj5MCLZWEtQuA==" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" integrity="sha512-aOG0c6nPNzGk+5zjwyJaoRUgCdOrfSDhmMID2u4+OIslr0GjpLKo7Xm0Ao3xmpM4T8AmIouRkqwj1nrdVsLKEQ==" crossorigin="anonymous" />


    <script>

        $(document).ready(function () {

            //Kadangi naudojamas vienas pasirinkimo objektas(SelectListItems) nustatyti pasirinkimo reikšmei reikia ja nustatyti panaudojant javascript funkcija ir html elementą
            $(".sel_element").each(function () {
                $(this).closest("td").find("select").val($(this).text());
            });

            //Inicijuojami datos ir laiko pasirinkimo įvedimo elementai
            $(".datepicker").datepicker({ dateFormat: 'yy-mm-dd', changeMonth: true, changeYear: true });

            //Iniciajuojamas datatable (skirtas rikiuoti ieskoti ir panašiai)
            /*$(".datatable").DataTable({
                "language": translation_lt
            });*/

        });

    </script>

</body>
</html>
