
@{ ViewBag.Title = "SenderManagement"; }


<h2>Siuntėjų peržiūra</h2>
<br />


@Html.ActionLink("Atgal", "Index", "Home")
<html>
<head>
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap.min.css">
</head>
<body>
    <table class="table table-striped">
        <thead>
        <th>Pavadinimas</th>
        <th>Miestas</th>
        <th>Tel. nr.</th>
        <th>Veiksmai</th>
        </thead>


        @foreach (var i in Model)
        {
            <tr>
                <td>@i.pavadinimas</td>
                <td>@i.miestas</td>
                <td>@i.tel_nr</td>
                <td>@Html.ActionLink("Įvertinti / Palikti atsiliepimą", "Rating", new { id = @i.SenderId })</td>
            </tr>
        }
    </table>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>

</html>  