
@{ ViewBag.Title = "SenderManagementAdmin";
}

<h2>Siuntėjų valdymas(admin)</h2>
<br />
@Html.ActionLink("Atgal", "Index", "Home")
@using (Html.BeginForm())
{
    <p>
        Filtruoti pagal vardą: @Html.TextBox("SearchPavadinimas")
        <input type="submit" value="Filtruoti" class="btn-primary" />
    
    
        Filtruoti pagal miestą: @Html.TextBox("SearchMiestas")
        <input type="submit" value="Filtruoti" class="btn-primary" />
   </p>
}
@using Onmiva.Models;

<html>
<head>
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap.min.css">
</head>
<body>

    <table class="table table-striped">
        <thead>
        <th> @Html.ActionLink("Pavadinimas", "SenderManagementAdmin", new { sortOrder = ViewBag.NameSortParm })</th>
        <th>@Html.ActionLink("Miestas", "SenderManagementAdmin", new { sortOrder = ViewBag.CitySortParm })</th>
        <th>Tel. nr.</th>
        </thead>

        
        
 
               @foreach (var i in Model)
               {
                   string pav = i.pavadinimas;
<tr>
    <td> @Html.ActionLink(pav, "Informacija", new { id = @i.SenderId })</td>
    <td>@i.miestas</td>
    <td>@i.tel_nr</td>
</tr>}
            
    </table>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>

</html>  