@model IEnumerable<Onmiva.Models.User>
@{
    ViewBag.Title = "BillManagement";
    int usersCount = ((Onmiva.Controllers.BillManagementController)this.ViewContext.Controller).GetUserCount();
}

<h2>Sąskaitų administravimo langas</h2>

<br>
@Html.ActionLink("Sąskaitų apmokėjimo būsenų sąrašas", "BillPaymentStateList", "BillManagement")
<br>
@Html.ActionLink("Atgal", "Index", "Home")

<ul class="list-group">

    @foreach (var item in Model)
    {
        <li class="list-group-item"> <a href="@Url.Action("UserBillsList", "BillManagement", new { userId = item.UserId })">Vartotojo @item.FirstName @item.LastName - @item.EmailID sąskaitos</a></li>
    }


    

</ul>
@usersCount
<nav aria-label="Page navigation example">
    <ul class="pagination">
        <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
            </a>
        </li>
        @for (int i = 1; i <= (int)(usersCount / 20) + 1; i++)
        {
            <li class="page-item"><a class="page-link" href="@Url.Action("BillManagement", "BillManagement", new {start=(i - 1) * 20, count = 20})">@i</a></li>
        }

        <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
            </a>
        </li>
    </ul>
</nav>

