@model IEnumerable<Onmiva.Models.Bill>
@{
    ViewBag.Title = "UserBillsList";
}

<h2>Vartotojo sąskaitų sąrašas</h2>


@Html.ActionLink("Sukurti sąskaitą", "CreateBill", "BillManagement")
<br>
@Html.ActionLink("Atgal", "BillManagement", "BillManagement")

<ul class="list-group">

    @foreach (var item in Model)
    {
    <li class="list-group-item">
        <a href="@Url.Action("ViewBill", "BillManagement", new { billId = item.NumberId } )">Sąskaita nr. @item.NumberId @item.Date </a>
        @Html.ActionLink("Redaguoti sąskaitą", "EditBill", "BillManagement", 1) <button>Šalinti</button>
    </li>
    }

</ul>
