@model IEnumerable<Onmiva.Models.Bill>
@{
    ViewBag.Title = "UserBillsList";
}

<h2>Vartotojo sąskaitų sąrašas</h2>


@Html.ActionLink("Sukurti sąskaitą", "CreateBill", "BillManagement")
<br>
@Html.ActionLink("Atgal", "BillManagement", "BillManagement")


<ul class="list-group">

    @foreach (var item in Model)
    {
            <li class="list-group-item">
                <a href="@Url.Action("ViewBill", "BillManagement", new { billId = item.NumberId })">Sąskaita nr. @item.NumberId @item.Date </a>
                <a href="@Url.Action("EditBill", "BillManagement", new { id = item.NumberId })">Redaguoti sąskaitą</a>
                <a href="@Url.Action("DeleteBill", "BillManagement", new { BillId = item.NumberId })">Šalinti</a>
                      

            </li>
    }

</ul>


