@model  Onmiva.Models.Bill
@{
    ViewBag.Title = "Sąskaita " + Model.NumberId;
}

<h2>Sąskaita @Model.NumberId</h2>

<br>
<b> @Html.LabelFor(model => model.NumberId):</b> @Model.NumberId <br>
<b> @Html.LabelFor(model => model.Sum):</b> @Model.Sum <br>
<b> @Html.LabelFor(model => model.Date):</b> @Model.Date <br>
<b> @Html.LabelFor(model => model.PayComment):</b> @Model.PayComment <br>
<b> @Html.LabelFor(model => model.PayUntil):</b> @Model.PayUntil <br>
<b> @Html.LabelFor(model => model.State):</b> @Model.State <br>
<b> @Html.LabelFor(model => model.SendingCompany):</b> @Model.SendingCompany <br>
